    @model IEnumerable<DatabasAccess.StudentTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.ClassTable.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserTable.FullName)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.ContactNo)
        </td>
       
        <td>
            @if (!string.IsNullOrEmpty(item.Photo))
            {
                <img src="@Url.Content(item.Photo)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto;" />
            }
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.ClassTable.ClassName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.UserTable.FullName)
        </td>
        <td>
            @Html.ActionLink("Leaving Certificate", "LeavingCertificate", "StudentCertificateReports", new { id = item.StudentID }, null) |
            @Html.ActionLink("ExamCertificate", "ExamCertificate", "StudentCertificateReports", new { id = item.StudentID }, null) |
            @Html.ActionLink("Student Report", "StudentWiseReport", "TimeTableReports", new { id = item.StudentID }, null) |
            @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
            @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
        </td>
    </tr>
}

</table>

